/*still not amazing, but i'll worry more about this later */
body {
    background: linear-gradient(to right, white, rgb(121, 210, 236));
    color: blue;
    background-color: aliceblue;
    font-family: "Arial";

    h1 {
        text-align: center;
    }
}